{% macro footer() -%}
<section class="contact">
    <h1 class="heading" id="contact">
        <span>C</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>a</span>
        <span>c</span>
        <span>T</span>

      </h1>
    <div class="container">
      <div class="row">
          <div class="col-6"> <p>Thank you for visiting</p> </div>
          <div class="col-6 inner-content">
              <p> Sai Teja Potu</p>
              <p> Hannover, Germany</p>
              <p>saitejareddypotu@gmail.com</p>
          </div>
      </div>  
    </div>
</section>
{%- endmacro %}