/* CSS HEX */
:root{
--Background-color: black;
--primary-color: #efbc9bff;
--secondary-color: #966b9dff;
--green: #588157ff;
--text-color:#fff;
}
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.row_poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.imagesize{
    flex-shrink: 0;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_poster:hover{
    transform: scale(1.08);
}

.row_posters::-webkit-scrollbar{
    display: none;
}

.row_posterLarge{
    max-height: 250px;
}
.row_posterLarge:hover{
    transform: scale(1.09);
}
.row{
    color: white;
    margin-left: 20px;
}

.banner{
    background-image: url("vikings1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    object-fit: contain;
    height: 448px;
}
.banner1{
    background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    object-fit: contain;
    height: 448px;
}
.banner_contents{
    margin-left: 30px;
    padding-top: 140px;
    height:190px;
}

.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}
.banner_button{
    cursor: pointer;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51,51,51,0.5);
}
.banner_button:hover{
    color:#000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}
.banner--fadebottom{
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #111);
}

.nav_logo{
    width: 100px;
    object-fit: contain;
}

.nav_avatar{
    width: 40px;
    object-fit: contain;
}

.navbar{
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_black{
    background-color: #111;
}

.contact{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    height: 180px;
}

.film_details_page {
    color: white;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin: 0 55px 0 55px;

}

.card_film {
    background-color: gainsboro;
    color: black;
    position:inherit;
}

.comments {
    border: 1px solid white;
    border-radius: 5px;
    margin: 3px 25px;
    padding: 10px;
    color: white;
    max-width: 500px;
}

.comment-date {
    font-size: 65%;
    color: firebrick;
}

.form {
    color: white;
    margin: 15px 25px;
}

.form-control {
    max-width: 768px;
}


.flex{
    display:flex;
    padding-top:100px;
    margin: 50px 0 50px 0;
}

.right{
    min-width: -webkit-fill-available;
}