{% macro footer() -%}
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Audio and Subtitles</p>
        <p>Media Center</p>
        <p>Privacy</p> 
        <p>Contact Us</p>  
      </div>
      <div class="col">
        <p>Audio Description</p>
        <p>Investor Relations</p>
        <p>Legal Notices</p>
       </div>
      <div class="col">
        <p>Help Center</p>
        <p>Jobs</p>
        <p>Cookie Preferences</p>
      </div>
      <div class="col">
        <p>Gift Cards</p>
        <p>Terms of Use</p>
        <p>Corporate Information</p>
      </div>
    </div>
  </div>
  <div class="banner_buttons">
    <button class="banner_button">Service Code</button>
  </div>

</section>
{%- endmacro %}